/*Обнуление*/
*,*:before,*:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,body{
	height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;	
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
	list-style: none;
  }

@import 'base/fonts';
@import 'base/mixins';
@import 'base/variables';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}


.container {
    max-width: $maxWidthContainer + px;
    margin: 0 auto;
    padding: 0 20px;
}

@import 'blocks/work_cards';
@import 'base/media';

